<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=mssql4.unoeuro.com;Initial Catalog=juinti_com_db;User ID=juinti_com;Password=t6a4b9xn;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=mssql4.unoeuro.com;Initial Catalog=juinti_com_db;User ID=juinti_com;Password=t6a4b9xn;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="120" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx"
        name=".ASPXFORMSAUTH"
             timeout="120"
        protection="All" />
    </authentication>
    <authorization>
      <allow roles="Customer"/>
      <deny users="*"/>
    </authorization>
    <roleManager defaultProvider="SqlProvider"
    enabled="true"
    cacheRolesInCookie="true"
    cookieName=".ASPROLES"
    cookieTimeout="120"
    cookiePath="/"
    cookieRequireSSL="false"
    cookieSlidingExpiration="true"
    cookieProtection="All">
      <providers>
        <add
          name="SqlProvider"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="ConnectionString"
          applicationName="Juinti" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="120">
      <providers>
        <clear />
        <add
          name="SqlProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="ConnectionString"
          applicationName="Juinti"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="true"
          passwordFormat="Hashed" />
      </providers>
    </membership>

    <customErrors mode="Off"/>
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="no-reply@juinti.com">
        <network host="smtp.unoeuro.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>


